
#product-overview {
    background: linear-gradient(to top, rgba(80, 60, 18, 0.6) 10%, transparent),
    url("images/OneDrive01.jpg") left 10% bottom 20%/cover no-repeat border-box,
    #103f66;
    /*background-image: url("OneDrive01.jpg");
    background-size: cover;
    background-position: left 10% bottom 20%; */
    /*background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
    /*background-image: radial-gradient(180deg, red70%, blue 60%, rgba (0,0,0,0.5);*/
    /*background-image: radial-gradient(elipse farthest-corner at 20% 50%, red, blue, green);*/
    width: 100%;
    height: 528px;
    /*padding: 10px;*/
    margin-top: 2.75rem;
    /* border: 5px dashed #37a6de; */
    position: relative;

    
 }

 .section-title {
    color: #2773ba;
    text-align: center;
}

 #product-overview h1 {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     bottom: 5%;
     left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #37a6de;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #2c8ccc;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0 ,0.5);
}

.plan__annotation {
    background: white;
    color: #2c8ccc;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 0 ,0.5);
    border-radius: 8px;
}

.plan__title {
    color: #1864ae;
}

.plan__price {
    color: #141414;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #103f66;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #1864ae;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #37a6de;
    width: 128px;
    height: 128px;
    border: 2px solid #141414;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

 /*h1{
    font-family: sans-serif;
}*/
