
#product-overview {
    background: linear-gradient(to top, rgba(80, 60, 18, 0.6) 10%, transparent),
    url("images/Fondo.jpg") left 10% bottom 20%/cover no-repeat border-box,
    #F0D4BC;
    /*background-image: url("OneDrive01.jpg");
    background-size: cover;
    background-position: left 10% bottom 20%; */
    /*background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
    /*background-image: radial-gradient(180deg, red70%, blue 60%, rgba (0,0,0,0.5);*/
    /*background-image: radial-gradient(elipse farthest-corner at 20% 50%, red, blue, green);*/
    width: 100%;
    height: 528px;
    /*padding: 10px;*/
    margin-top: 2.75rem;
    /* border: 5px dashed #B98368; */
    position: relative;

    
 }

 .section-title {
    color: #8fa3a6;
    text-align: center;
}

 #product-overview h1 {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     bottom: 5%;
     left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plans {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.plan {
    margin: 2rem 0;
    background-color: #eee;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0 0 0 /.1);
    border-radius: 1rem;
    max-width: 20rem;
    justify-content: space-between;
    /*width: 90%;
    height: 25rem;
    padding: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    transition: all 400ms ease;*/
}

.plan:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.plan--highlighted {
    background: #e5896a;
    color: white;
    box-shadow: 1px 1px 0px 0px rgb(0, 0 ,0.2);
    align-items: center;
}

.plan__annotation {
    background: white;
    color: #e5896a;
    padding: 0.8rem;
    box-shadow: 1px 1px 0px 0px rgb(0, 0 ,0.2);
    border-radius: 0px;
    text-align: center;
    border-radius: 1rem;
}

.plan__title {
    color: #55392b;
}

.plan__price {
    color: #141414;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #55392b;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

@media screen and (min-width: 25rem) {
    .plan {
        /*width: 31%;
        height: 25rem;
        vertical-align: middle;*/
        flex-basis: 100%;
        max-width: 25rem;
        margin: 0 0 0 0;
    }
    
    .plans {
        /*min-width: 50vh;*/
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1rem;
    }

}

#key-features {
    background: #F0D4BC;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: #e5896a;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

/*.key-feature__image {
    background: white;
    width: 50px;
    height: 50px;
    border: 2px solid #141414;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}*/

.key-feature__image img {
    /*width: 50px;
    height: 50px;
    margin: auto;*/
    background-color: white;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
    
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: #e5896a;
    font-size: 1.2rem;
}

 /*h1{
    font-family: sans-serif;
}*/

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #8fa3a6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #8fa3a6;
    background: #8fa3a6;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #b98368;
    border-color: #b98368;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

